{% extends 'base.html.twig' %}
{% block title %}Mon Panier{% endblock %}
{% block body %}
<style>
  .example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
  }

  .example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
  }
</style>

<div class="example-wrapper">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1>Mon Panier</h1>
    </div>
  </div>
  <div class="table-vide" style="display : none;"></div>
  <table id="table" class="table table-dark">
    <thead class="thead-dark">
      <tr>

        <th scope="col">Nom</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantité</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.product.name }}</td>
        <td>{{ product.product.price }} €</td>
        <td>{{ product.quantite }}</td>
        <td>
          <form action="{{ path('panier.delete',{id: product.product.id}) }}" method="POST"
            onsubmit="return confirm('Etes-vous sûr de supprimer cet article ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
            <button class="btn btn-danger">Supprimer du panier</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tr>
      <td></td>
      <td></td>
      <td>Total : {{total}}€</td>
    </tr>
    </tfoot>
  </table>
  {{ form_start(form) }}
  <div class="form-group col-md-12">
    <label for="email">Email</label>
    {{ form_widget(form.email) }}
  </div>

  <div class="form-group col-md-12" style="display:none">
    <label for="createdAt">createdAt</label>
    {{ form_widget(form.createdAt) }}
  </div>

  <button type="submit" class="btn btn-success btn-block">
    Commander
  </button>
  {{ form_end(form) }}
</div>
</div>

<script>
  const table = document.querySelector("#table");
  const body = document.querySelector("tbody").childElementCount;
  const vide = document.querySelector(".table-vide");
  if (body <= 0) {
    vide.style.display = "block";
    table.style.display = "none";
    vide.textContent = `Il n'y a aucun produit dans le panier.`;
  }
</script>

{% endblock %}