{% extends 'base.html.twig' %}

{% block title %}Liste des Commandes{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<body>

    <div class="example-wrapper">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1>Mes Commandes</h1>
            </div>
        </div>
        <div class="table-vide" style="display : none;"></div>
        <table id="table" class="table table-dark">
            <thead class="thead-dark">
                <tr>

                    <th scope="col">Numéro Commande</th>
                    <th scope="col">Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for command in commands %}
                <tr>
                    <td>{{ command.id }}</td>
                    <td>{{ command.email }}</td>
                    <td>
                        <a href="{{ path('command.show', {id : command.id}) }}"><button type="button" class="btn btn-primary">Voir la Commande en détail</button></a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
    </div>
</body>
{% endblock %}