{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Ma Commande en détails</h1>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-2 col-md-8">
            <table id="table" class="table table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>Nom du produit</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <th scope="row"><a
                                href="{{ path('product.show', {id : product.id}) }}">{{ product.name | upper }}</a></th>
                        <td>1</td>
                        <td>{{ product.price }}€</td>

                    </tr>

                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row">Total</th>
                        <td></td>
                        <td>{{total}}€</td>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{% block javascripts %}
{% endblock %}
{% endblock %}