{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<body>
   
    <div class="container-fluid">
        <div class="row">
            {% for product in products %}
            <div class="col-6 card">
                <div class="card-body">
                    <a href="/article/{{ product.id }}"><h5 class="card-title">{{ product.name }}</h5></a>
                    <p class="card-text">Prix : {{ product.price }} €</p>
                    <p class="card-text">Description : {{ product.description|striptags|slice(0, 300)|raw }} ...<a href="/product/{{ product.id }}">voir plus ></a></p>
                    <p class="card-text">Date Parution : {{ product.createdAt|date("m/d/Y") }}
                    </br>
                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <a href="/product/{{ product.id }}" class="btn btn-primary">Voir Plus</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    </br>
<div class="container-fluid">
<div class="row">
    <div class="d-flex justify-content-end">
    </div>
</div>
</div>
</body>
{% endblock %}
