<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ product.name }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% include "partials/_nav.html.twig" %}
    <div class="alert alert-success" style="display : none;"></div>

    <div class="container-fluid">
        <div class="row">
            <h1 class="col d-flex justify-content-center" data-id="{{product.id}}" data-name="{{product.name}}">
                {{ product.name}} </h1>
            <div class="col-12 card">
                <div class="card-body">
                    <a href="/article/{{ product.id }}">
                        <h5 class="card-title">{{ product.name }}</h5>
                    </a>
                    <p class="card-text">Prix : {{ product.price }}</p>
                    <p class="card-text">Description : {{ product.description}} ...</p>
                    <p class="card-text">Date : {{ product.createdAt|date("m/d/Y") }}
                        </br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="/product" class="btn btn-primary">Retour</a>
                <input type="button" name="add" value="Ajouter au panier" id="addPanier">

            </div>
        </div>
    </div>

    {% block javascripts %}
    <script>
        const id = document.querySelector("h1").getAttribute("data-id");
        const name = document.querySelector("h1").getAttribute("data-name");
        const panier = document.querySelector("#addPanier");
        const url = `/panier/add/${id}`;
        const alert = document.querySelector('.alert');
        panier.addEventListener("click", () => {
            panier.disabled = true;
            fetch(url)
                .then(res => res.json())
                .then(res => {
                    alert.style.display = 'block';
                    alert.textContent = `Le produit ${name} a bien été ajouté au panier.`;
                })
        });
    </script>
    {% endblock %}
</body>

</html>