{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1>Accueil</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col d-flex justify-content-center">
                    <h2>Produits les plus récents</h2>
                </div>
                {% for product in mostproduct %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 card">
                            <div class="card-body">
                                <a href="/article/{{ product.id }}">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                </a>
                                <p class="card-text">Date Parution : {{ product.createdAt|date("m/d/Y") }}
                                    </br>
                                    <div class="row">
                                        <div class="d-flex justify-content-end">
                                            <a href="/product/{{ product.id }}" class="btn btn-primary">Voir Plus</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
                </br>
                {% endfor %}
            </div>
            <div class="col-6">
                <div class="col d-flex justify-content-center">
                    <h2>Produits les moins chers</h2>
                </div>
                {% for product in minprice %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 card">
                            <div class="card-body">
                                <a href="/article/{{ product.id }}">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                </a>
                                <p class="card-text">Prix : {{ product.price }} €</p>
                                    </br>
                                    <div class="row">
                                        <div class="d-flex justify-content-end">
                                            <a href="/product/{{ product.id }}" class="btn btn-primary">Voir Plus</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
                </br>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}